
:root {
    --main-color: #bd4678;
    --sec-color: #9b406e;
    --bg: #f9f9f9;
    --texto: #333;
    --texto2: #fff;
}

[data-tema="escuro"] {
    --main-color: #9b406e;
    --sec-color: #bd4678;
    --bg: #0b1220;
    --texto: #fff;
    --text02: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease,
    box-shadow 0.5s ease;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: var(--texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--main-color);
    color: var(--texto2);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 1.6rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    display: inline-block;
    color: var(--texto2);
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
    transition: transform .3s;
}

nav a:hover {
    transform: scale(1.1);
}

/* Botão modo escuro */
#tema {
    background: none;
    color: var(--texto2);
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--texto2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

#tema ion-icon:hover {
    transform: rotate(20deg) scale(1.05);
}

#tema ion-icon {
    font-size: 22px;
}


.btn-header a{
    text-decoration: none;
    background-color: var(--texto2);
    color: #333;
    padding: 12px 25px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.btn-header a:hover{
    background-color: transparent;
    color: var(--texto2);
    border-color: var(--texto2);
}

/* Container */
.container {
    width: 95%;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--texto2);
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    animation: fade .4s ease;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

label {
    font-weight: 500;
}

input,
select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: none;
    font-size: 15px;
    transition: border-color .3s;
    width: 100%;
}

/* Quando usuário foca */
input:focus,
select:focus {
    border-color: var(--texto2);
}

.botao {
    margin-top: 10px;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: var(--texto2);
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}

.botao:hover {
    background: transparent;
    border: 1px solid var(--texto2);
    color: var(--texto2);
}

/* Responsivo */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 20px;
    }

    nav a {
        margin: 8px;
        display: inline-block;
    }

    .container {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 18px;
    }

    .botao {
        font-size: 0.9rem;
    }
}
