:root {
    --main-color: #bd4678;
    --sec-color: #9b406e;
    --bg: #f9f9f9;
    --texto: #333;
    --texto2: #fff;
}

[data-tema="escuro"] {
    --main-color: #9b406e;
    --sec-color: #bd4678;
    --bg: #0b1220;
    --texto: #fff;
    --text02: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease,
    box-shadow 0.5s ease;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: var(--texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--main-color);
    color: var(--texto2);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 1.6rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#tema {
    background: none;
    color: var(--texto2);
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--texto2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

#tema ion-icon:hover {
    transform: rotate(20deg) scale(1.05);
}

#tema ion-icon {
    font-size: 22px;
}

nav a {
    display: inline-block;
    color: var(--texto2);
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

nav a:hover {
    transform: scale(1.1);
}

.btn-header a{
    text-decoration: none;
    background-color: var(--texto2);
    color: #333;
    padding: 12px 25px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.btn-header a:hover{
    background-color: transparent;
    color: var(--texto2);
    border-color: var(--texto2);
}

.banner {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.banner-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--texto2);
    text-align: center;
}

.banner-texto h2 {
    font-size: 2rem;
}

.banner-texto p {
    font-size: 1.2rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
}

main h2 {
    font-size: 2rem;
    color: var(--sec-color);
    margin-bottom: 20px;
}

main p {
    max-width: 600px;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.botao {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.botao a {
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--texto2);
    padding: 12px 25px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.botao a:hover {
    background-color: transparent;
    transform: scale(1.05);
    color: var(--texto);
    border-color: var(--main-color);
}

.livro-destaque {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--bg);
}

.livro-destaque h2 {
    margin-bottom: 30px;
    color: var(--sec-color);
}

.livro-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.livro {
    width: 180px;
}

.livro img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.livro img:hover {
    transform: scale(1.05);
}

.livro p {
    margin-top: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: var(--main-color);
    color: var(--texto2);
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}

footer p {
    margin-top: 10px;
}

footer a {
    margin: 10px;
    text-decoration: none;
    color: var(--texto2);
    font-size: 1.6rem;
}

/* Tela de Cadastro */

.container {
    background-color: var(--main-color);
    display: flex;
    width: 80%;
    max-width: 900px;
    justify-content: center;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    border-radius: 8px;
    padding: 8px 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px auto;
    border: 1px solid #333;
}

select {
    border-radius: 8px;
    padding: 8px 50px;
    display: flex;
    margin: 10px auto;
}

button {
    border-radius: 8px;
    padding: 10px;
}

/* Responsivo */
@media (max-width: 900px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .header-right {
        margin-top: 10px;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        display: inline-block;
        margin: 10px;
    }

    .banner-texto h2 {
        font-size: 1.5rem;
    }

    .banner-texto p {
        font-size: 1rem;
    }

    main h2 {
        font-size: 1.6rem;
    }

    main p {
        font-size: 1rem;
    }

    .livro-container {
        gap: 15px;
    }

    .livro {
        width: 140px;
    }
}

@media (max-width: 600px) {
  .banner {
    height: 250px;
  }

  .banner-texto h2 {
    font-size: 1.3rem;
  }

  .banner-texto p {
    font-size: 0.9rem;
  }

  .botao a {
    padding: 10px 20px;
  }

  footer {
    font-size: 0.8rem;
    padding: 15px;
  }
}